<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card" th:each="treinos : ${listaTreinos}">
  <a th:href="@{/lista-treinos/{id}(id=${treinos.id})}">
    <img src="/static/img/treino.jpg" alt="Imagem 1">
  </a>
  <p th:text="${treinos.modo}"></p>
  <td>
    <form th:action="@{/lista-treinos/{id}(id=${treinos.id})}" method="get">
      <input type="hidden" name="id" th:value="${treinos.id}" />
      <button id="detalhe" type="submit">Detalhes</button>
    </form>
  </td>
</div>

</body>
</html>